page-profile-profissional {

    .circle{
        width: 60%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }

    .titulo{
        width:20%;
        height: 1%;
        margin-right:2%;
        margin-bottom: 1px;
        float: left;
    }

    .descricao{
        width:75%;
        height: 5%;
        float: left;
    }

    .botao{
        margin-top: 30%;
    }
}
