page-profissional-detalhe {

    .circle{
        width: 40%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }

    .center{
        text-align: center;
    }

    #map {
        height: 100%;
    }
}
